body {
    background-image: url(./images/background.jpg);
}

#tetris {
    background-color: darkblue;
    text-align:center;
}

#score {
    width: 600px;
    height: 70px;
    font-size: 40px;
    color: rgb(209, 22, 184);
}

#scorevalue {
    
}